@page
@model PrivacyModel
@{
    ViewData["Title"] = "Если ты сюда нажал, значит ты забрел в никому ненужную политику конфиденциальности, кусь";
}
<h1>@ViewData["Title"]</h1>

<p>Тут типо твоя политика конфиденциальности</p>

